<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
    <Properties>
        <Property name="log-path">/Users/bvb</Property>
    </Properties>
    <appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d %-5level [%t] %logger{32} %msg%n" />
        </Console>

        <File name="FILE" fileName="${log-path}/logs/20160214inv01.log" immediateFlush="true">
            <PatternLayout pattern="%d %p [%t] %m%n" />
        </File>
    </appenders>

    <Loggers>
         <root level="info">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FILE" />
        </root>
    </Loggers>
</configuration>
